<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" style="padding-left: 50px;">Instagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <form class="form-inline my-2 my-lg-0 mx-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-btn" id="search">
                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </form>
        <div class="navbar-nav" style="padding-right: 50px;">
            <a class="nav-item nav-link active" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
            <div style="height: 30px; width: 30px; border-style: solid; border-color: black; border-radius: 100%; margin-top: 10px; margin-left: 5px;" class="nav-item dropdown">
                <img src="" alt="" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>